# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
server/node_modules/
front/node_modules/

# Builds
dist/
dist-ssr/
*.local

# Env files
.env
.env.local
.env.development
.env.test
.env.production

# Docker volumes (au cas où tu les montes localement)
mongo-data/
mysql-data/

# OS
.DS_Store

# IDE & éditeurs
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend-specific
front/dist/
front/.next/
