.profil-page {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
  color: #2F1E0E;
}

.profil-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.profil-info, .profil-estimates {
  margin-bottom: 2rem;
  background-color: #f3eee9;
  padding: 1.5rem;
  border-radius: 8px;
}

.profil-estimates table {
  width: 100%;
  border-collapse: collapse;
}

.profil-estimates th, .profil-estimates td {
  border: 1px solid #ccc;
  padding: 0.7rem;
  text-align: center;
}

.profil-estimates th {
  background-color: #e1dcd5;
}
